/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/style.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
body{
	font-family: Calibri, Arial;
}
.__mb30{
	margin-bottom: 30px;
}
.logo-a{
	color: #000;
}
// sidebar
.h1{
	font-size: 44px;
	margin-bottom: 11px;
	color: #000;
	line-height: 1.2;
}
.profession{
	font-size: 20px;
	font-weight: lighter;
	color: #5a5a5a;
	margin-bottom: 50px;
}
.sidebar{
	padding-top: 70px;
	padding-bottom: 50px;
}
.sidebar_lst{
	margin-top: 30px;
}
.sidebar_i{
	line-height: 1.8;
}
.sidebar_h{
	font-size: 20px;
	color: #000;
}
.sidebar_lk{
	color: #5a5a5a;
	font-size: 20px;
	font-weight: lighter;
	&:hover{
		color: #000;
		text-decoration: underline;
	}
}
.sidebar_lk-active{
	color: #000;
	text-decoration: underline;
}
// content
.content{
	padding-top: 70px;
	padding-bottom: 50px;
}
.content_img{
	width: 100%;
	min-height: 320px;
	position: relative;
}
.hover1{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}
.hover2{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}
.hover3{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}
.hover4{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}

.hover5{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}

.hover6{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}
.hover7{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}
.hover8{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}
.hover9{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}
.hover10{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}
.hover11{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}
.hover12{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}
.hover13{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}
.hover14{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}
.hover15{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}
.hover16{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}
.hover17{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}
.hover18{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}
.hover19{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}
.hover20{
	width: 100%;
	height: 320px;
	display: none;
	cursor: pointer;
	background-color: rgba(255,255,255,0.7);
	z-index: 10;
	padding-top: 130px;
}

.db{
	display: block;
}
.content_tx{
	font-size: 30px;
	text-align: center;
	color: #000;
	line-height: 1.2;
	text-transform: uppercase;
}
.content_tx-small{
	display: block;
	font-size: 16px;
	color: #5a5a5a;
	font-weight: lighter;
	text-transform: none;
}
.img1{
	background: url(../img/vitaraduga.jpg) no-repeat;
}
.img2{
	background: url(../img/jazzstone1.jpg) no-repeat;
}
.img3{
	background: url(../img/kinopolis.jpg) no-repeat;
}
.img4{
	background: url(../img/want_to_sell.jpg) no-repeat;
}
.img5{
	background: url(../img/photograph.jpg) no-repeat;
}
.img6{
	background: url(../img/decora.jpg) no-repeat;
}
.img7{
	background: url(../img/master_kerama.jpg) no-repeat;
}
.img8{
	background: url(../img/bat_signal.jpg) no-repeat;
}
.img9{
	background: url(../img/OnDoc.jpg) no-repeat;
}
.img10{
	background: url(../img/zolotoezveno.jpg) no-repeat;
}
.img11{
	background: url(../img/perelesie.jpg) no-repeat;
}
.img12{
	background: url(../img/avdeev.jpg) no-repeat;
}
.img13{
	background: url(../img/gozeba.jpg) no-repeat;
}
.img14{
	background: url(../img/rcn.jpg) no-repeat;
}
.img15{
	background: url(../img/zolotoe_zveno.jpg) no-repeat;
}
.img16{
	background: url(../img/nam_ne_vse_ravno.jpg) no-repeat;
}
.img17{
	background: url(../img/full_freedom.jpg) no-repeat;
}
.img18{
	background: url(../img/my_cat_club.jpg) no-repeat;
}
.img19{
	background: url(../img/beton.jpg) no-repeat;
}
.img20{
	background: url(../img/grani.jpg) no-repeat;
}

.p-pdf{
	text-align: right;
	margin-bottom: 20px;
}
.a-pdf{
	color: #5a5a5a;
	font-size: 20px;
	text-decoration: underline;
	&:hover{
		color: #000;
	}
}
.vita-raduga{
	background: url(../img/1.VitaRaduga.jpg) no-repeat top;
	width: 100%;
	height: 1289px;
	background-size: 100%;
}
.jazz-st{
	background: url(../img/JazzStone.jpg) no-repeat top;
	width: 100%;
	height: 1700px;
	background-size: 100%;
}
.kinopolis{
	background: url(../img/3.Kinopolis.jpg) no-repeat top;
	width: 100%;
	height: 1795px;
	background-size: 100%;
}
.want-to-sell{
	background: url(../img/4.WantToSell.jpg) no-repeat top;
	width: 100%;
	height: 886px;
	background-size: 100%;
}
.photographer{
	background: url(../img/5.Фотогрф.jpg) no-repeat top;
	width: 100%;
	height: 580px;
	background-size: 100%;
}
.decora{
	background: url(../img/6.Decora.jpg) no-repeat top;
	width: 100%;
	height: 940px;
	background-size: 100%;
}
.master-kerama{
	background: url(../img/7.Мастер-керама.jpg) no-repeat top;
	width: 100%;
	height: 2526px;
	background-size: 100%;
}
.bat-signal{
	background: url(../img/8.BAT-Signal.jpg) no-repeat top;
	width: 100%;
	height: 865px;
	background-size: 100%;
}
.on-doc{
	background: url(../img/9.OnDoc.jpg) no-repeat top;
	width: 100%;
	height: 980px;
	background-size: 100%;
}
.zol-zveno{
	background: url(../img/10.Золотое-Звено.jpg) no-repeat top;
	width: 100%;
	height: 4341px;
	background-size: 100%;
}
.perelesie{
	background: url(../img/11.Перелесье.jpg) no-repeat top;
	width: 100%;
	height: 4710px;
	background-size: 100%;
}
.actor{
	background: url(../img/12.Актер.jpg) no-repeat top;
	width: 100%;
	height: 494px;
	background-size: 100%;
}
.gozeba{
	background: url(../img/13.GoZeba.jpg) no-repeat top;
	width: 100%;
	height: 1543px;
	background-size: 100%;
}
.rcn{
	background: url(../img/14.RCN.jpg) no-repeat top;
	width: 100%;
	height: 1286px;
	background-size: 100%;
}
.zol-zveno2{
	background: url(../img/15.Золотое-Звено2.jpg) no-repeat top;
	width: 100%;
	height: 506px;
	background-size: 100%;
}
.nam_ne{
	background: url(../img/16.Нам-не-все-равно.jpg) no-repeat top;
	width: 100%;
	height: 1471px;
	background-size: 100%;
}
.full-freedom{
	background: url(../img/17.FullFreedom.jpg) no-repeat top;
	width: 100%;
	height: 689px;
	background-size: 100%;
}
.my-cat{
	background: url(../img/18.MyCatClub.jpg) no-repeat top;
	width: 100%;
	height: 753px;
	background-size: 100%;
}
.beton{
	background: url(../img/19.Бетон.jpg) no-repeat top;
	width: 100%;
	height: 478px;
	background-size: 100%;
}
.grani{
	background: url(../img/20.Grani.jpg) no-repeat top;
	width: 100%;
	height: 1800px;
	background-size: 100%;
}