
@import 'compass/reset';

body{
	font-family: 'Conv_Roboto-Regular';
}
$red: #eb1c23;

.container{
	width: 1000px;
	margin: 0 auto;
}
.__center{
	text-align: center;
}
.row{
	width: 100%;
}
.one{
  background: url("../img/bg-small.png");
}
.one-inner{
	background: url("../img/bg-one.jpg") no-repeat 87% 100%;
	height: 700px;
}
.wrapper{
	width: 1200px;
	margin: 0 auto;
}
.header{
	height: 141px;
}

.logo{
	background: url("../img/logo.svg") no-repeat center;
	width: 300px;
	height: 141px;
	display: inline-block;
	margin-bottom: 113px;
}
.tel{
	float: right;
	display: inline-block;
	font-size: 21px;
	font-weight: 400;
	width: 260px;
	text-align: right;
	margin-top: 42px;
}
.tel-inner{
	font-size: 40px;
	font-family: 'Conv_Roboto-Bold';
}
.one_tx{
	width: 390px;
	display: inline-block;
}
.h1{
	font-family: 'Conv_Roboto-Bold';
	font-size: 40px;
	margin-bottom: 73px;
}
.h1-min{
	font-size: 21px;
	font-family: 'Conv_Roboto-Regular';
	display: block;
}
a.header-email{
	font-size: 21px;
	color: #ec1c24;
	font-weight: 400;
	text-decoration: underline;
	display: block;
}
.price{
	height: 80px;
	border-left: 2px solid #0093d9;
}
.price_tx{
	font-family: 'Conv_Roboto-Bold';
	font-size: 40px;
	line-height: 80px;
	padding-left: 28px;
	margin-bottom: 58px;
}
.button-one{
	width: 302px;
	height: 53px;
	font-size: 18px;
	color: #fff;
	border: none;
	background-color: $red;
	cursor: pointer;
	outline: none;
	&:hover{
		background-color: lighten($red, 5%);
	}
}
.button-two{
	width: 208px;
	height: 44px;
	font-size: 18px;
	color: #fff;
	border: none;
	background-color: $red;
	cursor: pointer;
	outline: none;
	&:hover{
		background-color: lighten($red, 5%);
	}
}
// two
.h2{
	font-size: 40px;
	font-family: 'Conv_Roboto-Bold';
}
.picture{
	display: inline-block;

}
.picture_txt{
	width: 40%;
	height: 170px;
	border-left: 2px solid #0093d9;
	display: inline-block;
	vertical-align: top;
	text-align: left;
	padding-left: 55px;
	padding-top: 75px;
	margin-top: 100px;
}
.picture_tx{
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
}
.picture_tx-bold{
	font-size: 40px;
	font-weight: 700;
	line-height: 42px;
	margin-bottom: 18px;
}
.picture1{
	background: url('../img/homut-1.png') no-repeat center;
	width: 480px;
	height: 450px;

}
.picture2{
	background: url('../img/homut-2.png') no-repeat center;
	width: 480px;
	height: 450px;

}
.picture3{
	background: url('../img/homut-3.png') no-repeat center;
	width: 480px;
	height: 450px;

}
.picture4{
	background: url('../img/homut-4.png') no-repeat center;
	width: 480px;
	height: 450px;

}
// three
.h3{
	font-size: 40px;
	font-weight: 700;
	line-height: 42px;
}
.h3-min{
	font-size: 30px;
	font-weight: 400;
	display: block;
}
