/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

body {
  font-family: "Proxima Nova Rg", Arial; }

.__center {
  text-align: center; }

.__right {
  text-align: right; }

.__active_lk {
  background-color: #eceef1;
  font-weight: 700; }

.__uppercase {
  text-transform: uppercase; }

.__padding-top {
  padding-top: 60px; }

.__padding-bottom {
  padding-bottom: 80px; }

.__margin-bottom_sm {
  margin-bottom: 16px; }

.__margin-bottom_s {
  margin-bottom: 24px; }

.__margin-bottom_m {
  margin-bottom: 30px; }

.__margin-bottom_l {
  margin-bottom: 60px; }

.__block {
  display: block; }

.__inline-block {
  display: inline-block; }

.__fr {
  float: right; }

.__fz28 {
  font-size: 1.750em; }

.__fz76 {
  font-size: 4.750em; }

.__fz24 {
  font-size: 1.500em; }

.__fz18 {
  font-size: 1.125em; }

.__fz14 {
  font-size: 0.875em; }

.__fz9 {
  font-size: 0.563em; }

.fz20 {
  font-size: 1.250em; }

.__bold {
  font-weight: bold; }

.__relative {
  position: relative; }

.__lh30 {
  line-height: 30px; }

.__lh22 {
  line-height: 22px; }

.__lh25 {
  line-height: 25px; }

header {
  min-height: 204px;
  padding-top: 39px; }

.logo {
  background: url(../img/logo.png) no-repeat;
  width: 125px;
  height: 125px; }

.logo-tx {
  background: url(../img/logo_tx.png) no-repeat;
  width: 428px;
  height: 110px;
  margin-top: 12px; }

.tel {
  font-size: 40px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 20px; }

.button-header {
  border-radius: 23px;
  box-shadow: 0 1px 0 #b49d31;
  text-shadow: 0 2px 0 white;
  width: 303px;
  height: 46px;
  background-color: #fddc2b;
  border: none;
  font-size: 24px; }

.section-one {
  background: url(../img/bg-section1.jpg) no-repeat center;
  min-height: 649px;
  background-size: cover;
  padding-top: 45px;
  padding-bottom: 42px; }

.h1-section-one {
  font-size: 40px;
  font-weight: 700;
  line-height: 44px; }

.label-h1 {
  font-size: 30px;
  line-height: 60px;
  margin-bottom: 80px;
  display: block; }

.section-one_lst {
  margin-bottom: 54px;
  padding-left: 35px; }

.section-one_i {
  list-style-image: url(../img/list-style.png);
  vertical-align: top;
  font-size: 30px;
  margin-bottom: 15px;
  padding-left: 18px;
  text-shadow: 0 2px 0 #fff; }

.button-one {
  border-radius: 23px;
  box-shadow: 0 1px 0 #b49d31;
  text-shadow: 0 2px 0 white;
  width: 423px;
  height: 66px;
  background-color: #fddc2b;
  border: none;
  font-size: 34px; }

.icon-box {
  margin-top: 87px;
  min-height: 200px;
  margin-bottom: 98px;
  padding-top: 30px; }

.icon {
  width: 98px;
  height: 98px;
  display: inline-block;
  margin-bottom: 17px; }

.icon-24h {
  background: url(../img/icon-online24.png) no-repeat; }

.icon-cand {
  background: url(../img/icon-candidat.png) no-repeat; }

.icon-16y {
  background: url(../img/icon-16years.png) no-repeat; }

.icon-warrenty {
  background: url(../img/icon-warrent.png) no-repeat; }

.icon-speed {
  background: url(../img/icon-speed.png) no-repeat; }

.h2 {
  font-size: 60px;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 2px 0 #000;
  margin-bottom: 20px; }

.label-h2 {
  font-size: 30px;
  text-shadow: 0 2px 0 #000;
  font-weight: 400;
  color: #fff;
  margin-bottom: 35px;
  display: block; }

.personal {
  background: url(../img/bg-section2.jpg) no-repeat center;
  min-height: 420px;
  background-size: cover;
  padding-top: 50px;
  text-align: center; }

.button-personal {
  margin-top: 87px; }

.personal-i {
  border-radius: 17px;
  display: inline-block;
  background-color: #0d7bbb;
  line-height: 33px;
  padding-left: 32px;
  padding-right: 14px;
  font-size: 20px;
  text-shadow: 0 2px 0 #000;
  color: #fff;
  position: relative; }
  .personal-i:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 14px;
    top: 50%;
    margin-top: -7px;
    left: 8px;
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAOCAYAAAAi2ky3AAABLElEQVQoU6XTSyuFURTG8f+TXGIgxcCHMFAGBso11yjKVMZGvop8AiMGEhMZuHQSA2WglJIiKUUpiemjddqvHL2cizXbvWv/2uvyin+E7Q5gHVhSrY7tduAQ6AIKNUG224ADoBu4Bfqrhmy3AvtAD3BfRKS7qqCE7AG9wAMwKOkm2lMxZLsFCKQPeAQGJF1nPS5CtjslxcfcsN0M7EYZwFNCrr4ny/YisArMSoraSyIhO8AI8AwMSbr8mRfQGrAAfACTkgpZku1GIJAx4CUhF3nPDqguLdU88B6XJJ3YbgC2gCngFRiWdP5b+VmP6oENYC5dmgGWo9x0HpV09tfyfk0tvWATmI7+p4m+AeOSTsv9ASXjT9g2MJF6FshxOSR3j2w3pTJXJB1VgkTOJ/RRZwkl/UqyAAAAAElFTkSuQmCC"); }

.button-theme1 {
  margin-top: 30px; }

.button-theme2 {
  margin-top: 30px; }

.button-theme3 {
  margin-top: 30px; }

.button-theme4 {
  margin-top: 30px; }

.h3 {
  font-size: 40px;
  font-weight: 700;
  text-shadow: 0 2px 0 #000;
  color: #fff;
  margin-bottom: 30px; }

.label-h3 {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  text-shadow: 0 2px 0 #000; }

.theme-1 {
  background: url(../img/bg-box1.jpg);
  max-width: 554px;
  height: 320px;
  padding: 50px 30px; }

.theme-2 {
  background: url(../img/bg-box2.jpg);
  max-width: 554px;
  height: 320px;
  padding: 50px 30px; }

.theme-3 {
  background: url(../img/bg-box3.jpg);
  max-width: 554px;
  height: 320px;
  padding: 50px 30px; }

.theme-4 {
  background: url(../img/bg-box4.jpg);
  max-width: 554px;
  height: 320px;
  padding: 50px 30px; }

h4 {
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 56px; }

.ic-parners {
  max-width: 263px;
  height: 180px; }

.ic-renis {
  background: url(../img/partners-renaisans.png) no-repeat; }

.ic-azimut {
  background: url(../img/partners-azimut.png) no-repeat; }

.ic-domina {
  background: url(../img/partners-domina.png) no-repeat; }

.ic-ppf {
  background: url(../img/partners-ppf.png) no-repeat; }

.ic-marriot {
  background: url(../img/partners-marriott.png) no-repeat; }

.ic-museum {
  background: url(../img/partners-russian-museum.png) no-repeat; }

.ic-doverie {
  background: url(../img/partners-doverie.png) no-repeat; }

.ic-mce {
  background: url(../img/partners-mce-olive.png) no-repeat; }

.ic-doma {
  background: url(../img/partners-doma-vkusnee.png) no-repeat; }

.ic-gutsait {
  background: url(../img/partners-gutsait.png) no-repeat; }

.ic-kempinski {
  background: url(../img/partners-kempinski.png) no-repeat; }

.ic-dialog {
  background: url(../img/partners-dialog.png) no-repeat; }

.ic-diplomat {
  background: url(../img/partners-diplomat.png) no-repeat; }

.ic-a-project {
  background: url(../img/partners-a-proekt.png) no-repeat; }

.h5 {
  font-size: 48px;
  font-weight: 300;
  margin-top: 62px;
  margin-bottom: 140px; }

.tel-box {
  margin-bottom: 100px; }

.tel-sv {
  font-size: 28px;
  font-weight: 400;
  padding-top: 9px; }

.ic-facebook {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAABDklEQVRIS2O0iZr5n4EOgHHUInJDeXAGnbIIL0N2rBWDoaEcAwszI9hzJ049YCiduIugR4n2ERMDA8PcpkAGFWVRFEOpbpEwNzvDhlnxcEt+/vjN8OXrL4YLl54wNMw5SD0fyQpyMyybEg03MKNsNcPVp+8JWgBTQHTQKQrzMCyaFAU3ODh9EcOrLz+oa5GBvAiDmCA3Q22pO9zg6patDJ++/WT4++cvw2UifEaUjw4vTcPp8sPH7jBUTd1H0GcUW9QzeR/DxhN3qGMRLzsLg6wQD8PMnjC4gXF5yxjefPnB8O33P4a///5RxyKQKXRJDKMWYYswolLdaNBRFHQEMwoBBUTH0ahF6CFAt6ADAH4YqsdFPfSEAAAAAElFTkSuQmCC") no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 50px; }

.ic-vk {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAB9ElEQVRIS2MMKpnxn4EOgHHUInJDeTToyA05hoENumgnIwY+Hg6w6x+9eM+w9dR1Bl05cYayZE8GLi52sPiTp28YiietY/jz7z+DOB83g7+dHgMzEyNY7s2HrwyrD11E8T1WHzWneDFoqcvCFRZ3rWR49v4TQ1agLYOtmQZcPK1hIcPbrz8YUrwtGDwd9OHij568ZiicuI6wRcbKUgxVGb5whfuOXmWYuuEIg6+5FkNCiC2KRSzMzAwTKyIYWFlZ4OLds7cxnLj1mLBFjIwMDB2ZfgwqipJwxbUT1jEoy4gwJITYwcXSGxcxxHqaMdgg+RLmKPRUgzMxmKhIM1Sm+8DVP3vxluHl608MhrqKcLH9x64yOFppw/lPn79lqJq6keHLz98YqROnRSBfVUS7MJjoKxOdpCct2MVw8Op9rOrxJm9QauopDoWnNEI2glJiy5xtDK+/fCfeRzCVoIRRkebDwARNusgmvHr9nkFMVBDF0IePXzE0z9nO8P7bD8KJAd051hpyDJlRTgycnJA8BAOgZG+kJssQHWCFIn78zC2GnpX7SbcIpENSgIfBw0KLwUBDlkFKUpjh5av3DKWT1jP8+POHwc9CmyHYzZiBm4cTbPj9hy8ZSqZsIM8iQvFDSH5gyzpCriNHftRH5IQaWM/wCzoAXp/EjYYwk/cAAAAASUVORK5CYII=") no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 50px; }

.ic-linkedin {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAABkklEQVRIS2NkqN7+n4EOgHHUInJDeWCDrlhZhKHUT5uBjZWJYdLWGwwNV5+T6xG4Pqw+elPiwCAswAFW9PP3Pwa1lj0Mj/7+o8gyrBbdybBiUJbhAxv89sMPBpXeAwwfKMwEWC3yFeBkSLFWZGBiZGBYevIxw4rXnynyDUgzVRKDMBMDw1sCIYvVouUuagzq0vxgX7z5+IPBbcNlBlNOVoaZYQZwn20684Th7defDBnOKgyqMgIMf//9Zzhy5QXDhP13GLZ++I4RAlgtOh5pyGChLQ5W/OjFFwb5KUcYbLnYGA5VOcENuHDnLYOOohADCzMjiqHvPv5kCJp2lOHg118o4mRbBDLl2/ffDHeffWZQlOJl4OFkhRu8ZO9dhtj9t6lj0at33xkiZ59g2Pf5J4MLLwfDulxrBl4uiGUPnn9mUJx6lDoWLdpzhyH+wB24YftD9BgcDKTA/B8//zJwNu+mjkXTttxgyD7xAG7YOg9NhkAbeURJULNj1CLsyXs06KhS1hFT4o5aREwoYVVDt6ADAKH0FSQ1W40yAAAAAElFTkSuQmCC") no-repeat;
  width: 26px;
  height: 26px;
  display: inline-block;
  margin-bottom: 50px; }

footer {
  margin-bottom: 30px; }
  footer p {
    color: #acacac;
    font-size: 18px;
    width: 484px;
    margin-left: auto;
    margin-right: auto; }

.one_it {
  width: 100%;
  height: 48px;
  border: 1px solid #cac9c9;
  padding-left: 22px;
  margin-bottom: 13px; }

.h-form-mod2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px; }

.p-form-bold {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 30px; }

.p-form {
  font-size: 18px;
  margin-bottom: 30px; }

.mod2_it {
  margin-bottom: 30px; }

.button-mod {
  width: 100%; }

@media (max-width: 360px) {
  .phone-tx {
    font-size: 1.2em; }

  .button-head {
    font-size: 0.8em; } }
