@import "bourbon"

$project: #009ee2
$clear: #fff
$top-header: #3c3c3b
$text: #3c3c3b
$grey: #f4f4f4
$alert: red


.__margin-bottom-m
	margin-bottom: 100px

.__margin-bottom-s
	margin-bottom: 40px

.__margin-bottom-xs
	margin-bottom: 30px

.__margin-top-s
	margin-top: 40px

.__padding-top-s
	padding-top: 40px

.__padding-top-xl
	padding-top: 100px

.__padding-bottom-xl
	padding-bottom: 100px

.__block
	display: block

.__w100
	width: 100%
