@import "bourbon"
@import "vars.sass"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "OpenSans", sans-serif
	overflow-x: hidden

.hidden
	display: none

.top-header
	padding: 12px 0
	background: $top-header

.top-header_lk
	margin-right: 70px
	vertical-align: sub

.header_lk
	color: $clear
	text-decoration: none
	&:hover
		color: $clear

.top-header_btn
	font-size: em(15px)
	padding: 5px 20px
	background-color: $project
	display: inline-block
	text-transform: uppercase
	color: $clear
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.34)
	border-radius: 2px
	float: right
	-webkit-transition: 0.3s
	-moz-transition: 0.3s
	-ms-transition: 0.3s
	-o-transition: 0.3s
	transition: 0.3s
	&:hover
		background-color: darken($project, 5%)
		text-decoration: none
		color: $clear

.nav
	text-align: right
	margin-top: 32px

.bottom-header
	padding: 30px 0
	background: $clear

.bottom-header_lk
	display: inline-block
	vertical-align: middle
	margin-left: 33px
	color: $top-header
	text-decoration: none
	-webkit-transition: 0.3s
	-moz-transition: 0.3s
	-ms-transition: 0.3s
	-o-transition: 0.3s
	transition: 0.3s
	&:hover
		color: $project
		text-decoration: none

.mobile-header
	display: none

// owl-slider
#owl-demo .item img
	display: block
	width: 100%
// *owl-slider

.h
	text-align: center
	color: $text
	font-size: 36px
	font-weight: 400
	line-height: 49px
	margin-bottom: 40px
	margin-top: 0
