@import "bourbon"
@import "vars.sass"

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.6
	font-family: "RobotoRegular", sans-serif
	overflow-x: hidden

.hidden
	display: none

.top-header
	height: 50px
	background: $top-header

.bottom-header
	height: 120px
	background: $clear

.slider
	height: 750px
	width: 100%
	background-image: url('/img/bg-slider.jpg')

.h
	text-align: center
	color: $text
	font-size: 36px
	font-weight: 400
	line-height: 49px
