@import "bourbon"
@import "vars.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here


//ALWAYS END
@import "media"
// tile
.tile
	padding: 40px 18px 0 18px
	background-color: $clear
	box-shadow: (0 1px 4px rgba(0, 0, 0, 0.5))
	border-bottom: 5px solid $project
	min-height: 405px

.tile-icon
	text-align: center

.tile_h
	text-align: center
	font-size: em(20px)
	font-weight: 600
	line-height: 27px

.tile_tx
	text-align: center
	color: $text
// *tile

// offer-tile
.offer-tile
	background-color: $grey
	padding: 40px 0

.offer-tile_h
	font-size: em(36px)
	font-weight: 600
	line-height: 49px
	margin-bottom: 10px
	margin-top: 0

.offer-tile_descr
	font-size: em(24px)
	font-weight: 600
	line-height: 33px
	margin-bottom: 24px
	margin-top: 10px

.offer-tile_tx
	font-size: em(14px)
	font-weight: 400
	line-height: 19px
	margin-bottom: 30px

.offer-tile_btn
	padding: 10px 58px
	text-transform: uppercase
	color: $clear
	background-color: $project
	border-radius: 3px
	display: inline-block
	box-shadow: (0 1px 2px rgba(0, 0, 0, 0.5))
	&:hover
		text-decoration: none

.offer-tile_image
	border-left: 5px solid $project
	background: url('/img/offer-image.jpg') 100% no-repeat
	width: 100%
	height: 273px
// *offer-tile

// info-tile
.info-tile
	background-size: cover
	background-repeat: no-repeat
	position: relative
	width: 100%
	height: 330px
	box-shadow: (0 2px 4px rgba(0, 0, 0, 0.5))

.__tile1
	background-image: url('/img/info-tile1.jpg')

.__tile2
	background-image: url('/img/info-tile2.png')

.__tile3
	background-image: url('/img/info-tile3.png')

.__tile4
	background-image: url('/img/info-tile4.png')
	min-height: 690px

.__tile5
	background-image: url('/img/info-tile5.png')

.__tile6
	background-image: url('/img/info-tile6.png')

.info-tile_tx
	width: 100%
	font-size: em(16px)
	font-weight: 400
	line-height: 22px
	color: $clear
	background-color: $project
	padding: 15px
	position: absolute
	bottom: 0
	margin: 0
// *info-tile

// tabs
.tabs-cnt
	display: none
	position: relative
	z-index: 100
	width: 100%
	min-height: 400px

.tabs_i
	display: inline-block
	font-size: em(18px)
	cursor: pointer
	margin-right: 24px
	border-bottom: 5px solid #f4f4f4

.__active
	border-bottom: 5px solid $project

// galery
#thumbs, #img
	float : left

#thumbs
	width : 98px

.gal
	margin-top: 24px

.gal-min_images
	margin-bottom: 7px
	display: inline-block
	cursor: pointer
	&:hover
		opacity: 0.8

.gal_images
	position: relative

.gal-action
	position: absolute
	bottom: -55px
	background-color: $project
	width: 100%
	padding: 0 30px

.gal_tx
	display: inline-block
	color: $clear

.gal_btn
	color: $project
	background-color: $clear
	border-radius: 3px
	box-shadow: (0 1px 2px rgba(0, 0, 0, 0.25))
	padding: 4px 26px
	text-transform: uppercase
	text-decoration: none
	&:hover
		text-decoration: none
		color: $project
		opacity: 0.9

.tabs-cnt
	padding: 40px 0

.tabs-cnt_lst
	display: inline-block
	vertical-align: top

.tabs-cnt_tx
	margin: 0

.tabs-cnt_i
	list-style-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAUCAYAAABiS3YzAAABvElEQVQ4T72UzUtUURjGf+9cRdJFCxvx447prn8giHYKgYGJCxchmN3Z5cKlIBFtWtQ6hDbe8Rot0kWhiCt1E0rQrn9AZm4qZKH4gUNz7xv33rSxGefqMHRWB855fud9nvOeI9Ry2N/uku5Yl5oxHXcIT98j8kyws1ojcB5oQMSuETQwrCCyRJc5+Bea7rx6FO+2bpIvbEZO5TNJo5cH7cfVQx23GV8/oXoLBAy5waj5I8SfZXqVShe3Gtn1VlC9E/AC5xTpS6Fvv7cxkty+8PLm1ODQ/QjaD+wD18O9F0KdXAc+GygZ0qnnZcGZ3DSqaSCPkbiP569Whs5kLXzsKPfEEyzzzTmwnX0BPAXxEXmIZc6Xi6/Uvp17BToRCg2GGE19CMGZ7BjKVHSgjGOlXofz0z6vmKmqMOM6qI4gnGDU3cPzWlDmQROIvMRKTZ45uBQ02P1F6/nqLqDah7CHci16LThYnY//iSR6kRUrPVXM7jTh/VpD9faf5l6m2xygRwrVQwPl3HaSw8I6wk+M+l4etR6VdMSl7RcrZ3e6qfMPGG7fLdtiVUHjvrD/D42rKG697O3HieLWi6C/AdoizfOSZM5ZAAAAAElFTkSuQmCC')

.tabs-cnt_link
	color: $project
	text-transform: uppercase
	display: block
	float: right
	&:hover
		color: $project
