/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
body{
	font-family: 'Open Sans', Arial
}
// Переменные
$grey: #d8dcde;
$light-grey: #eceef1;
$light: #f6f6f6;
$color-h: #3d3d40;
$default: #f33e12;

$Extra-small: 360px;
$Extra-small-device: 480px;
$Small-device: 769px;
$Medium-device: 992px;
$Large-device: 1200px;
// Модификаторы
.__center{
	text-align: center;
}
.__right{
	text-align: right;
}

.__active_lk{
	background-color: $light-grey;
	font-weight: 700;
}
.__uppercase{
	text-transform: uppercase;
}
.__padding-top{
	padding-top: 60px;
}
.__padding-bottom{
	padding-bottom: 80px;
}
.__margin-bottom_sm{
	margin-bottom: 16px;
}
.__margin-bottom_s{
	margin-bottom: 24px;
}
.__margin-bottom_m{
	margin-bottom: 30px;
}
.__margin-bottom_l{
	margin-bottom: 60px;
}
.__block{
	display: block;
}
.__inline-block{
	display: inline-block;
}
.__fr{
	float: right;
}
.__fz28{
	font-size: 1.750em;
}
.__fz76{
	font-size: 4.750em;
}
.__fz24{
	font-size: 1.500em;
}
.__fz18{
	font-size: 1.125em;
}
.__fz14{
	font-size: 0.875em;
}
.__fz9{
	font-size: 0.563em;
}
.fz20{
	font-size: 1.250em;
}
.__bold{
	font-weight: bold;
}
.__relative{
	position: relative;
}
.__lh30{
	line-height: 30px;
}
.__lh22{
	line-height: 22px;
}
.__lh25{
	line-height: 25px;
}

// Header
header{
	min-height: 204px;
	padding-top: 39px;
}
.logo{
	background: url(../img/logo.png) no-repeat;
	width: 125px;
	height: 125px;
}
.logo-tx{
	background: url(../img/logo_tx.png) no-repeat;
	width: 428px;
	height: 110px;
	margin-top: 12px;
}
.tel{
	font-size: 40px;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 20px;
}
.button-header{
	border-radius: 23px;
	box-shadow: 0 1px 0 #b49d31;
	text-shadow: 0 2px 0 white;
	width: 303px;
	height: 46px;
	background-color: #fddc2b;
	border: none;
	font-size: 24px;
}

// Section one
.section-one{
	background: url(../img/bg-section1.jpg) no-repeat center;
	min-height: 649px;
	background-size: cover;
	padding-top: 45px;
	padding-bottom: 42px;
}
.h1-section-one{
	font-size: 40px;
	font-weight: 700;
	line-height: 44px;
}
.label-h1{
	font-size: 30px;
	line-height: 60px;
	margin-bottom: 80px;
	display: block;
}
.section-one_lst{
	margin-bottom: 54px;
	padding-left: 35px;
}
.section-one_i{
	list-style-image: url(../img/list-style.png);
	vertical-align: top;
	font-size: 30px;
	margin-bottom: 15px;
	padding-left: 18px;
}
.button-one{
	border-radius: 23px;
	box-shadow: 0 1px 0 #b49d31;
	text-shadow: 0 2px 0 white;
	width: 423px;
	height: 66px;
	background-color: #fddc2b;
	border: none;
	font-size: 34px;
}

// icon-box
.icon-box{
	margin-top: 87px;
	min-height: 200px;
	margin-bottom: 98px;
	padding-top: 30px;
}
.icon{
	width: 98px;
	height: 98px;
	display: inline-block;
	margin-bottom: 17px;
}
.icon-24h{
	background: url(../img/icon-online24.png) no-repeat;
}
.icon-cand{
	background: url(../img/icon-candidat.png) no-repeat;
}
.icon-16y{
	background: url(../img/icon-16years.png) no-repeat;
}
.icon-warrenty{
	background: url(../img/icon-warrent.png) no-repeat;
}
.icon-speed{
	background: url(../img/icon-speed.png) no-repeat;
}

// personal
.personal{
	background: url(../img/bg-section2.jpg) no-repeat center;
	min-height: 420px;
	background-size: cover;
}
.personal-i{
	border-radius: 17px;
	background-color: #0d7bbb;
	line-height: 33px;
	padding-left: 32px;
	&:before{
		content: '';
		position: absolute;
		width: 18px;
		height: 14px;
		top: 50%;
		margin-top: -7px;
		left: 24px;
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAOCAYAAAAi2ky3AAABLElEQVQoU6XTSyuFURTG8f+TXGIgxcCHMFAGBso11yjKVMZGvop8AiMGEhMZuHQSA2WglJIiKUUpiemjddqvHL2cizXbvWv/2uvyin+E7Q5gHVhSrY7tduAQ6AIKNUG224ADoBu4Bfqrhmy3AvtAD3BfRKS7qqCE7AG9wAMwKOkm2lMxZLsFCKQPeAQGJF1nPS5CtjslxcfcsN0M7EYZwFNCrr4ny/YisArMSoraSyIhO8AI8AwMSbr8mRfQGrAAfACTkgpZku1GIJAx4CUhF3nPDqguLdU88B6XJJ3YbgC2gCngFRiWdP5b+VmP6oENYC5dmgGWo9x0HpV09tfyfk0tvWATmI7+p4m+AeOSTsv9ASXjT9g2MJF6FshxOSR3j2w3pTJXJB1VgkTOJ/RRZwkl/UqyAAAAAElFTkSuQmCC');
	}
}

// theme-1
.theme-1{
	background: url(../img/bg-box1.jpg);
	max-width: 554px;
	height: 320px;
}
.theme-2{
	background: url(../img/bg-box2.jpg);
	max-width: 554px;
	height: 320px;
}
.theme-3{
	background: url(../img/bg-box3.jpg);
	max-width: 554px;
	height: 320px;
}
.theme-4{
	background: url(../img/bg-box4.jpg);
	max-width: 554px;
	height: 320px;
}

// partners
.ic-parners{
	max-width: 263px;
	height: 180px;
}
.ic-renis{
	background: url(../img/partners-renaisans.png) no-repeat;
}
.ic-azimut{
	background: url(../img/partners-azimut.png) no-repeat;
}
.ic-domina{
	background: url(../img/partners-domina.png) no-repeat;
}
.ic-ppf{
	background: url(../img/partners-ppf.png) no-repeat;
}
.ic-marriot{
	background: url(../img/partners-marriott.png) no-repeat;
}
.ic-museum{
	background: url(../img/partners-russian-museum.png) no-repeat;
}
.ic-doverie{
	background: url(../img/partners-doverie.png) no-repeat;
}
.ic-mce{
	background: url(../img/partners-mce-olive.png) no-repeat;
}
.ic-doma{
	background: url(../img/partners-doma-vkusnee.png) no-repeat;
}
.ic-gutsait{
	background: url(../img/partners-gutsait.png) no-repeat;
}
.ic-kempinski{
	background: url(../img/partners-kempinski.png) no-repeat;
}
.ic-dialog{
	background: url(../img/partners-dialog.png) no-repeat;
}
.ic-diplomat{
	background: url(../img/partners-diplomat.png) no-repeat;
}
.ic-a-project{
	background: url(../img/partners-a-proekt.png) no-repeat;
}








// 360px
@media (max-width: $Extra-small) {
	.phone-tx{
		font-size: 1.2em;
	}
	.button-head{
		font-size: 0.8em;
	}
}
